.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__u0Nzu {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-7hBNqwvJt2kf);
}
.freeBox__obN0 {
  width: 100%;
  height: auto;
  max-width: var(--token-vGXvLUKI1xCV);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__obN0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__obN0 > :global(.__wab_flex-container) > *,
.freeBox__obN0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__obN0 > :global(.__wab_flex-container) > picture > img,
.freeBox__obN0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__obN0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__obN0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__obN0 > :global(.__wab_flex-container) > *,
  .freeBox__obN0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__obN0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__obN0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ayiJj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__ayiJj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ayiJj > :global(.__wab_flex-container) > *,
.freeBox__ayiJj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ayiJj > :global(.__wab_flex-container) > picture > img,
.freeBox__ayiJj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__fY7T:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___25Eq4 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__vw4Un {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__wRuka {
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__wRuka:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__x44Jy {
  position: relative;
  font-size: 14px;
  color: var(--token-N8vwsX-wxHy5);
}
.link__oir5T {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__oir5T:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__eYJrJ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__eYJrJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__eYJrJ > :global(.__wab_flex-container) > *,
.freeBox__eYJrJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eYJrJ > :global(.__wab_flex-container) > picture > img,
.freeBox__eYJrJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYJrJ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYJrJ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYJrJ > :global(.__wab_flex-container) > *,
  .freeBox__eYJrJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eYJrJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__eYJrJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__b7CBt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__b7CBt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__b7CBt > :global(.__wab_flex-container) > *,
.freeBox__b7CBt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b7CBt > :global(.__wab_flex-container) > picture > img,
.freeBox__b7CBt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__vzDV {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__mgOsT {
  font-size: 14px;
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
}
.root .link__mgOsT:hover {
  color: var(--token-NEon4Y--Z);
}
.link__gayKp {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__gayKp:hover {
  color: var(--token-NEon4Y--Z);
}
.link__d3DwC {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__d3DwC:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jihCf {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__jihCf:hover {
  color: var(--token-NEon4Y--Z);
}
.link__lSrcK {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__lSrcK:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__naQOh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__naQOh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__naQOh > :global(.__wab_flex-container) > *,
.freeBox__naQOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__naQOh > :global(.__wab_flex-container) > picture > img,
.freeBox__naQOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__yoL9T {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___9D5Nl {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link___9D5Nl:hover {
  color: var(--token-NEon4Y--Z);
}
.link__kotFp {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__kotFp:hover {
  color: var(--token-NEon4Y--Z);
}
.link__s9FGr {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__s9FGr:hover {
  color: var(--token-NEon4Y--Z);
}
.link__prqPb {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__prqPb:hover {
  color: var(--token-NEon4Y--Z);
}
.link__he08E {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__he08E:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__vzQf {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__vzQf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vzQf > :global(.__wab_flex-container) > *,
.freeBox__vzQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vzQf > :global(.__wab_flex-container) > picture > img,
.freeBox__vzQf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__klE1X {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__ifWzu {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__ifWzu:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ik8BQ {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__ik8BQ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__hq4RI {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__hq4RI:hover {
  color: var(--token-NEon4Y--Z);
}
.link__qyPx0 {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__qyPx0:hover {
  color: var(--token-NEon4Y--Z);
}
.link__zmiOv {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__zmiOv:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox___4QcO6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox___4QcO6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___4QcO6 > :global(.__wab_flex-container) > *,
.freeBox___4QcO6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4QcO6 > :global(.__wab_flex-container) > picture > img,
.freeBox___4QcO6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__r2Eh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__hZjaM {
  position: relative;
  font-size: 14px;
  color: var(--token-N8vwsX-wxHy5);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__dZtKw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__kz9Yx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  height: 1em;
}
.svg__uyOjr {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__or3Ww {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ozepP {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-7hBNqwvJt2kf);
}
.freeBox__mm0Yj {
  width: 100%;
  height: auto;
  max-width: var(--token-vGXvLUKI1xCV);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__mm0Yj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mm0Yj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mm0Yj > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mm0Yj > :global(.__wab_flex-container) > *,
  .freeBox__mm0Yj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mm0Yj > :global(.__wab_flex-container) > picture > img,
  .freeBox__mm0Yj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__hQyfp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__j8PqV {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  height: auto;
  font-size: 14px;
}
.root .link__j8PqV:hover {
  text-decoration-line: underline;
}
.link__stiai {
  position: relative;
  color: var(--token-N8vwsX-wxHy5);
  font-size: 14px;
}
.root .link__stiai:hover {
  text-decoration-line: underline;
}
.text___0IrdO {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-N8vwsX-wxHy5);
}
.freeBox___5UZ6E {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___5UZ6E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5UZ6E > :global(.__wab_flex-container) > *,
.freeBox___5UZ6E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5UZ6E > :global(.__wab_flex-container) > picture > img,
.freeBox___5UZ6E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__wfRok:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___08Fu2 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___08Fu2:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__lHTq4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__aWdje {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__aWdje:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink___4ZqTi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ayVVv {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__ayVVv:hover {
  color: var(--token-dph1wZ7NjV9);
}
