@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-7hBNqwvJt2kf: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-7hBNqwvJt2kf);
  --token-c9bdn1p2UCAs: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-c9bdn1p2UCAs);
  --token-N8vwsX-wxHy5: #666666;
  --plasmic-token-text: var(--token-N8vwsX-wxHy5);
  --token-vGXvLUKI1xCV: 1104px;
  --plasmic-token-max-content-width: var(--token-vGXvLUKI1xCV);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-s08BihXFrM98_font-family: "Inter", sans-serif;
  --mixin-s08BihXFrM98_font-size: 18px;
  --mixin-s08BihXFrM98_font-weight: 400;
  --mixin-s08BihXFrM98_font-style: normal;
  --mixin-s08BihXFrM98_color: var(--token-N8vwsX-wxHy5);
  --mixin-s08BihXFrM98_text-align: left;
  --mixin-s08BihXFrM98_text-transform: none;
  --mixin-s08BihXFrM98_line-height: 1.5;
  --mixin-s08BihXFrM98_letter-spacing: normal;
  --mixin-s08BihXFrM98_white-space: pre-wrap;
  --mixin-s08BihXFrM98_user-select: text;
  --mixin-s08BihXFrM98_text-decoration-line: none;
  --mixin-s08BihXFrM98_text-overflow: clip;
  --mixin-3OtUubLm_e4w_font-family: "Inter", sans-serif;
  --mixin-3OtUubLm_e4w_color: #000000;
  --mixin-3OtUubLm_e4w_font-size: 72px;
  --mixin-3OtUubLm_e4w_font-weight: 900;
  --mixin-3OtUubLm_e4w_letter-spacing: -4px;
  --mixin-3OtUubLm_e4w_line-height: 1;
  --mixin-3OtUubLm_e4w_white-space: pre-wrap;
  --mixin-mwCyxLRxiNDK_font-family: "Inter", sans-serif;
  --mixin-mwCyxLRxiNDK_color: #000000;
  --mixin-mwCyxLRxiNDK_font-size: 48px;
  --mixin-mwCyxLRxiNDK_font-weight: 700;
  --mixin-mwCyxLRxiNDK_letter-spacing: -1px;
  --mixin-mwCyxLRxiNDK_line-height: 1.1;
  --mixin-mwCyxLRxiNDK_white-space: pre-wrap;
  --mixin-ZE5fDFXT1boN_font-family: "Inter", sans-serif;
  --mixin-ZE5fDFXT1boN_color: #000000;
  --mixin-ZE5fDFXT1boN_font-size: 32px;
  --mixin-ZE5fDFXT1boN_font-weight: 600;
  --mixin-ZE5fDFXT1boN_letter-spacing: -0.8px;
  --mixin-ZE5fDFXT1boN_line-height: 1.2;
  --mixin-ZE5fDFXT1boN_white-space: pre-wrap;
  --mixin-LJ9gIJlelxca_font-family: "Inter", sans-serif;
  --mixin-LJ9gIJlelxca_color: #000000;
  --mixin-LJ9gIJlelxca_font-size: 24px;
  --mixin-LJ9gIJlelxca_font-weight: 600;
  --mixin-LJ9gIJlelxca_letter-spacing: -0.5px;
  --mixin-LJ9gIJlelxca_line-height: 1.3;
  --mixin-LJ9gIJlelxca_white-space: pre-wrap;
  --mixin-yvvPJWl7WZ5q_font-family: "Inter", sans-serif;
  --mixin-yvvPJWl7WZ5q_color: #000000;
  --mixin-yvvPJWl7WZ5q_font-size: 20px;
  --mixin-yvvPJWl7WZ5q_font-weight: 600;
  --mixin-yvvPJWl7WZ5q_letter-spacing: -0.3px;
  --mixin-yvvPJWl7WZ5q_line-height: 1.5;
  --mixin-yvvPJWl7WZ5q_white-space: pre-wrap;
  --mixin-oFyL3X6bwoJK_font-family: "Inter", sans-serif;
  --mixin-oFyL3X6bwoJK_color: #000000;
  --mixin-oFyL3X6bwoJK_font-size: 16px;
  --mixin-oFyL3X6bwoJK_font-weight: 600;
  --mixin-oFyL3X6bwoJK_line-height: 1.5;
  --mixin-oFyL3X6bwoJK_white-space: pre-wrap;
  --mixin-__T4zKlxzDi9_border-left-color: #dddddd;
  --mixin-__T4zKlxzDi9_border-left-style: solid;
  --mixin-__T4zKlxzDi9_border-left-width: 3px;
  --mixin-__T4zKlxzDi9_color: #888888;
  --mixin-__T4zKlxzDi9_padding-left: 10px;
  --mixin-__T4zKlxzDi9_white-space: pre-wrap;
  --mixin-e1u3DGGsqpse_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-e1u3DGGsqpse_border-bottom-color: #dddddd;
  --mixin-e1u3DGGsqpse_border-bottom-style: solid;
  --mixin-e1u3DGGsqpse_border-bottom-width: 1px;
  --mixin-e1u3DGGsqpse_border-left-color: #dddddd;
  --mixin-e1u3DGGsqpse_border-left-style: solid;
  --mixin-e1u3DGGsqpse_border-left-width: 1px;
  --mixin-e1u3DGGsqpse_border-right-color: #dddddd;
  --mixin-e1u3DGGsqpse_border-right-style: solid;
  --mixin-e1u3DGGsqpse_border-right-width: 1px;
  --mixin-e1u3DGGsqpse_border-top-color: #dddddd;
  --mixin-e1u3DGGsqpse_border-top-style: solid;
  --mixin-e1u3DGGsqpse_border-top-width: 1px;
  --mixin-e1u3DGGsqpse_border-bottom-left-radius: 3px;
  --mixin-e1u3DGGsqpse_border-bottom-right-radius: 3px;
  --mixin-e1u3DGGsqpse_border-top-left-radius: 3px;
  --mixin-e1u3DGGsqpse_border-top-right-radius: 3px;
  --mixin-e1u3DGGsqpse_font-family: "Inconsolata";
  --mixin-e1u3DGGsqpse_padding-bottom: 1px;
  --mixin-e1u3DGGsqpse_padding-left: 4px;
  --mixin-e1u3DGGsqpse_padding-right: 4px;
  --mixin-e1u3DGGsqpse_padding-top: 1px;
  --mixin-e1u3DGGsqpse_white-space: pre-wrap;
  --mixin-7AWGms3NMH_m_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7AWGms3NMH_m_border-bottom-color: #dddddd;
  --mixin-7AWGms3NMH_m_border-bottom-style: solid;
  --mixin-7AWGms3NMH_m_border-bottom-width: 1px;
  --mixin-7AWGms3NMH_m_border-left-color: #dddddd;
  --mixin-7AWGms3NMH_m_border-left-style: solid;
  --mixin-7AWGms3NMH_m_border-left-width: 1px;
  --mixin-7AWGms3NMH_m_border-right-color: #dddddd;
  --mixin-7AWGms3NMH_m_border-right-style: solid;
  --mixin-7AWGms3NMH_m_border-right-width: 1px;
  --mixin-7AWGms3NMH_m_border-top-color: #dddddd;
  --mixin-7AWGms3NMH_m_border-top-style: solid;
  --mixin-7AWGms3NMH_m_border-top-width: 1px;
  --mixin-7AWGms3NMH_m_border-bottom-left-radius: 3px;
  --mixin-7AWGms3NMH_m_border-bottom-right-radius: 3px;
  --mixin-7AWGms3NMH_m_border-top-left-radius: 3px;
  --mixin-7AWGms3NMH_m_border-top-right-radius: 3px;
  --mixin-7AWGms3NMH_m_font-family: "Inconsolata";
  --mixin-7AWGms3NMH_m_padding-bottom: 3px;
  --mixin-7AWGms3NMH_m_padding-left: 6px;
  --mixin-7AWGms3NMH_m_padding-right: 6px;
  --mixin-7AWGms3NMH_m_padding-top: 3px;
  --mixin-7AWGms3NMH_m_white-space: pre-wrap;
  --mixin-UQhIW7FM7EPT_display: flex;
  --mixin-UQhIW7FM7EPT_flex-direction: column;
  --mixin-UQhIW7FM7EPT_align-items: stretch;
  --mixin-UQhIW7FM7EPT_justify-content: flex-start;
  --mixin-UQhIW7FM7EPT_list-style-position: outside;
  --mixin-UQhIW7FM7EPT_padding-left: 40px;
  --mixin-UQhIW7FM7EPT_position: relative;
  --mixin-UQhIW7FM7EPT_list-style-type: decimal;
  --mixin-UQhIW7FM7EPT_white-space: pre-wrap;
  --mixin-VwFIbU_3uznl_display: flex;
  --mixin-VwFIbU_3uznl_flex-direction: column;
  --mixin-VwFIbU_3uznl_align-items: stretch;
  --mixin-VwFIbU_3uznl_justify-content: flex-start;
  --mixin-VwFIbU_3uznl_list-style-position: outside;
  --mixin-VwFIbU_3uznl_padding-left: 40px;
  --mixin-VwFIbU_3uznl_position: relative;
  --mixin-VwFIbU_3uznl_list-style-type: disc;
  --mixin-VwFIbU_3uznl_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-DIvOYw2Ukalq_white-space: pre-wrap;
  --plasmic-mixin-card-heading_white-space: var(
    --mixin-DIvOYw2Ukalq_white-space
  );
  --mixin-syLSC5cuLkOW_white-space: pre-wrap;
  --plasmic-mixin-centered-section-text_white-space: var(
    --mixin-syLSC5cuLkOW_white-space
  );
  --mixin-qimPUAO8SPsD_white-space: pre-wrap;
  --plasmic-mixin-subheader_white-space: var(--mixin-qimPUAO8SPsD_white-space);
  --mixin-hs9xqDKrrmkw_white-space: pre-wrap;
  --plasmic-mixin-footer-link_white-space: var(
    --mixin-hs9xqDKrrmkw_white-space
  );
  --mixin-MhmqpNd2_aZc_white-space: pre-wrap;
  --plasmic-mixin-content_white-space: var(--mixin-MhmqpNd2_aZc_white-space);
  --mixin-G5AGDUM2Ix14_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-G5AGDUM2Ix14_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-s08BihXFrM98_font-family);
  font-size: var(--mixin-s08BihXFrM98_font-size);
  font-weight: var(--mixin-s08BihXFrM98_font-weight);
  font-style: var(--mixin-s08BihXFrM98_font-style);
  color: var(--mixin-s08BihXFrM98_color);
  text-align: var(--mixin-s08BihXFrM98_text-align);
  text-transform: var(--mixin-s08BihXFrM98_text-transform);
  line-height: var(--mixin-s08BihXFrM98_line-height);
  letter-spacing: var(--mixin-s08BihXFrM98_letter-spacing);
  white-space: var(--mixin-s08BihXFrM98_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-3OtUubLm_e4w_font-family);
  color: var(--mixin-3OtUubLm_e4w_color);
  font-size: var(--mixin-3OtUubLm_e4w_font-size);
  font-weight: var(--mixin-3OtUubLm_e4w_font-weight);
  letter-spacing: var(--mixin-3OtUubLm_e4w_letter-spacing);
  line-height: var(--mixin-3OtUubLm_e4w_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-mwCyxLRxiNDK_font-family);
  color: var(--mixin-mwCyxLRxiNDK_color);
  font-size: var(--mixin-mwCyxLRxiNDK_font-size);
  font-weight: var(--mixin-mwCyxLRxiNDK_font-weight);
  letter-spacing: var(--mixin-mwCyxLRxiNDK_letter-spacing);
  line-height: var(--mixin-mwCyxLRxiNDK_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-ZE5fDFXT1boN_font-family);
  color: var(--mixin-ZE5fDFXT1boN_color);
  font-size: var(--mixin-ZE5fDFXT1boN_font-size);
  font-weight: var(--mixin-ZE5fDFXT1boN_font-weight);
  letter-spacing: var(--mixin-ZE5fDFXT1boN_letter-spacing);
  line-height: var(--mixin-ZE5fDFXT1boN_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-LJ9gIJlelxca_font-family);
  color: var(--mixin-LJ9gIJlelxca_color);
  font-size: var(--mixin-LJ9gIJlelxca_font-size);
  font-weight: var(--mixin-LJ9gIJlelxca_font-weight);
  letter-spacing: var(--mixin-LJ9gIJlelxca_letter-spacing);
  line-height: var(--mixin-LJ9gIJlelxca_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-yvvPJWl7WZ5q_font-family);
  color: var(--mixin-yvvPJWl7WZ5q_color);
  font-size: var(--mixin-yvvPJWl7WZ5q_font-size);
  font-weight: var(--mixin-yvvPJWl7WZ5q_font-weight);
  letter-spacing: var(--mixin-yvvPJWl7WZ5q_letter-spacing);
  line-height: var(--mixin-yvvPJWl7WZ5q_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-oFyL3X6bwoJK_font-family);
  color: var(--mixin-oFyL3X6bwoJK_color);
  font-size: var(--mixin-oFyL3X6bwoJK_font-size);
  font-weight: var(--mixin-oFyL3X6bwoJK_font-weight);
  line-height: var(--mixin-oFyL3X6bwoJK_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-__T4zKlxzDi9_color);
  padding-left: var(--mixin-__T4zKlxzDi9_padding-left);
  border-left: var(--mixin-__T4zKlxzDi9_border-left-width)
    var(--mixin-__T4zKlxzDi9_border-left-style)
    var(--mixin-__T4zKlxzDi9_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-e1u3DGGsqpse_font-family);
  border-radius: var(--mixin-e1u3DGGsqpse_border-top-left-radius)
    var(--mixin-e1u3DGGsqpse_border-top-right-radius)
    var(--mixin-e1u3DGGsqpse_border-bottom-right-radius)
    var(--mixin-e1u3DGGsqpse_border-bottom-left-radius);
  padding: var(--mixin-e1u3DGGsqpse_padding-top)
    var(--mixin-e1u3DGGsqpse_padding-right)
    var(--mixin-e1u3DGGsqpse_padding-bottom)
    var(--mixin-e1u3DGGsqpse_padding-left);
  border-top: var(--mixin-e1u3DGGsqpse_border-top-width)
    var(--mixin-e1u3DGGsqpse_border-top-style)
    var(--mixin-e1u3DGGsqpse_border-top-color);
  border-right: var(--mixin-e1u3DGGsqpse_border-right-width)
    var(--mixin-e1u3DGGsqpse_border-right-style)
    var(--mixin-e1u3DGGsqpse_border-right-color);
  border-bottom: var(--mixin-e1u3DGGsqpse_border-bottom-width)
    var(--mixin-e1u3DGGsqpse_border-bottom-style)
    var(--mixin-e1u3DGGsqpse_border-bottom-color);
  border-left: var(--mixin-e1u3DGGsqpse_border-left-width)
    var(--mixin-e1u3DGGsqpse_border-left-style)
    var(--mixin-e1u3DGGsqpse_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7AWGms3NMH_m_font-family);
  border-radius: var(--mixin-7AWGms3NMH_m_border-top-left-radius)
    var(--mixin-7AWGms3NMH_m_border-top-right-radius)
    var(--mixin-7AWGms3NMH_m_border-bottom-right-radius)
    var(--mixin-7AWGms3NMH_m_border-bottom-left-radius);
  padding: var(--mixin-7AWGms3NMH_m_padding-top)
    var(--mixin-7AWGms3NMH_m_padding-right)
    var(--mixin-7AWGms3NMH_m_padding-bottom)
    var(--mixin-7AWGms3NMH_m_padding-left);
  border-top: var(--mixin-7AWGms3NMH_m_border-top-width)
    var(--mixin-7AWGms3NMH_m_border-top-style)
    var(--mixin-7AWGms3NMH_m_border-top-color);
  border-right: var(--mixin-7AWGms3NMH_m_border-right-width)
    var(--mixin-7AWGms3NMH_m_border-right-style)
    var(--mixin-7AWGms3NMH_m_border-right-color);
  border-bottom: var(--mixin-7AWGms3NMH_m_border-bottom-width)
    var(--mixin-7AWGms3NMH_m_border-bottom-style)
    var(--mixin-7AWGms3NMH_m_border-bottom-color);
  border-left: var(--mixin-7AWGms3NMH_m_border-left-width)
    var(--mixin-7AWGms3NMH_m_border-left-style)
    var(--mixin-7AWGms3NMH_m_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-UQhIW7FM7EPT_display);
  flex-direction: var(--mixin-UQhIW7FM7EPT_flex-direction);
  align-items: var(--mixin-UQhIW7FM7EPT_align-items);
  justify-content: var(--mixin-UQhIW7FM7EPT_justify-content);
  list-style-position: var(--mixin-UQhIW7FM7EPT_list-style-position);
  padding-left: var(--mixin-UQhIW7FM7EPT_padding-left);
  position: var(--mixin-UQhIW7FM7EPT_position);
  list-style-type: var(--mixin-UQhIW7FM7EPT_list-style-type);
  flex-column-gap: var(--mixin-UQhIW7FM7EPT_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-VwFIbU_3uznl_display);
  flex-direction: var(--mixin-VwFIbU_3uznl_flex-direction);
  align-items: var(--mixin-VwFIbU_3uznl_align-items);
  justify-content: var(--mixin-VwFIbU_3uznl_justify-content);
  list-style-position: var(--mixin-VwFIbU_3uznl_list-style-position);
  padding-left: var(--mixin-VwFIbU_3uznl_padding-left);
  position: var(--mixin-VwFIbU_3uznl_position);
  list-style-type: var(--mixin-VwFIbU_3uznl_list-style-type);
  flex-column-gap: var(--mixin-VwFIbU_3uznl_flex-column-gap);
}
