.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__krhgK {
  width: 100%;
  height: auto;
  max-width: var(--token-vGXvLUKI1xCV);
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__krhgK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__krhgK > :global(.__wab_flex-container) > *,
.freeBox__krhgK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__krhgK > :global(.__wab_flex-container) > picture > img,
.freeBox__krhgK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__krhgK {
    width: 100%;
    height: auto;
    max-width: var(--token-vGXvLUKI1xCV);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__krhgK > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__krhgK > :global(.__wab_flex-container) > *,
  .freeBox__krhgK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__krhgK > :global(.__wab_flex-container) > picture > img,
  .freeBox__krhgK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__eJtkm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__eJtkm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__eJtkm > :global(.__wab_flex-container) > *,
.freeBox__eJtkm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eJtkm > :global(.__wab_flex-container) > picture > img,
.freeBox__eJtkm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eJtkm {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eJtkm > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eJtkm > :global(.__wab_flex-container) > *,
  .freeBox__eJtkm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eJtkm > :global(.__wab_flex-container) > picture > img,
  .freeBox__eJtkm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__fLQy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__j2Tfr {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j2Tfr {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__iJkFy {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iJkFy {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__dtVd5 {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dtVd5 {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__heAC {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__heAC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__heAC > :global(.__wab_flex-container) > *,
.freeBox__heAC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__heAC > :global(.__wab_flex-container) > picture > img,
.freeBox__heAC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__kt1Ts:global(.__wab_instance) {
  position: relative;
}
.svg__hJc2Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fKivC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ghaS:global(.__wab_instance) {
  position: relative;
}
.svg__aZOl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bI9Ha {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___5HEr1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img___7BoKy {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___7BoKy > picture > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nqYi6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nqYi6 {
    width: 100%;
  }
}
.freeBox__eUIr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eUIr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__eUIr > :global(.__wab_flex-container) > *,
.freeBox__eUIr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eUIr > :global(.__wab_flex-container) > picture > img,
.freeBox__eUIr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eUIr {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eUIr > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___04D5M {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text___7Ta17 {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard___8Xljn:global(.__wab_instance) {
  position: relative;
}
.svg__eXaqc {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__kCzYw {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__a36FJ:global(.__wab_instance) {
  position: relative;
}
.svg__aPmn {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__nOlM7 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yRyAq:global(.__wab_instance) {
  position: relative;
}
.svg__ybD0Q {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__na4Dj {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__v6Mmb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__v6Mmb {
    width: 100%;
  }
}
.img__ztuWj {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ztuWj > picture > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__oLrj9 {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__oLrj9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__oLrj9 > :global(.__wab_flex-container) > *,
.freeBox__oLrj9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oLrj9 > :global(.__wab_flex-container) > picture > img,
.freeBox__oLrj9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__xB5D:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___2Ik8V {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-c9bdn1p2UCAs);
}
.svg__baQb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__sJwk5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hUdmU {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-c9bdn1p2UCAs);
}
.svg__xTxt {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__fjwuS:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___70Ksz {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-c9bdn1p2UCAs);
}
.svg__de05L {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__i19CE:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nkPls {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-c9bdn1p2UCAs);
}
.svg__hdewy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__piBzh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jnTcH {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-c9bdn1p2UCAs);
}
.svg__tKFiz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__jsReY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__plFlk {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-c9bdn1p2UCAs);
}
.svg__kBbRt {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__loFn3 {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-7hBNqwvJt2kf);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__hmV5C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hmV5C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__hmV5C > :global(.__wab_flex-container) > *,
.freeBox__hmV5C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hmV5C > :global(.__wab_flex-container) > picture > img,
.freeBox__hmV5C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__mwv0W {
  display: flex;
  flex-direction: row;
}
.freeBox__mwv0W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__mwv0W > :global(.__wab_flex-container) > *,
.freeBox__mwv0W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mwv0W > :global(.__wab_flex-container) > picture > img,
.freeBox__mwv0W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__ekHxq {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___9Cb80 {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__cxp7H {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__aFp27 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__u2Asm {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
